.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
*.jks
*.keystore
*.p12
*.mobileprovision
.env
.env.*
!.env.example

tool/local_config.ps1
